
.auth-page-form{
    display: flex;
    justify-content: flex-end;
    width : 405px;
    height : 438px;
    background-color: #F5F9FF;
    background-image: url('./form-background.svg');
    border-radius: 57px;
    background-repeat: no-repeat;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.25);
}