:root{
    --menu-item-width : 60px;
    --menu-item-height : 60px;
}

.menu{
    position: absolute;
    border-radius: 55px;
    box-shadow: 0 0 4px #e5e5e5;

    top : 20px;
    right : 120px;

    padding: 10px 20px;

    /* max-width: 282px; */
    width: calc( 2 * var( --menu-item-width ) );
    background-color: #E5E5E5;
    transition: all 0.4s ease-in ;

    display: flex;
    justify-content: space-around;
    align-items: center;
}

.menu .burger,
.menu .logOut {
    width: var(--menu-item-width);
    width: var( --menu-item-height );
}

.menu .burger img,
.menu .logOut img{
    width: calc( var(--menu-item-width) * 0.8 );
    height: calc( var(--menu-item-height) * 0.8 );
}

.menu .burger{
    margin-right: 10px;
}

.menu .profileImage .image{
    width: var(--menu-item-width);
    height: var(--menu-item-height);
    background-image: linear-gradient(#9E2692 , #FAA958);
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu .profileImage .image img{
    width: 94%;
    height: 94%;
    border-radius: 100%;
    background-color: #E5E5E5;
}
