.menu{
    position: absolute;
    border-radius: 55px;
    box-shadow: 0 0 4px #e5e5e5;

    top : 20px;
    right : 120px;

    padding: 10px 0;

    /* max-width: 282px; */
    width: 260px;
    background-color: #E5E5E5;
    transition: all 1s ease-in ;

    display: flex;
    justify-content: space-around;
    align-items: center;
}

.menu .burger ,
.menu .profileImage,
.menu .logOut
{
    width: 20%;
    height: 100%;
    border-radius: 55px;
}

.menu .burgerWithoutLogOut ,
.menu .profileWithoutLogOut
{
    width: 30%;
    height: 100%;
    border-radius: 55px;
}

.menu .burgerWithoutLogOut img,
.menu .burger img{
    width: 100%;
    height: auto;
}

.menu .profileImage img,
.menu .profileWithoutLogOut img
{
    width: 80px;
    height: 80px;
    border-radius: 100%;
}

.menu .logOut img{
    width: 80%;
    height: auto;
}
