.custom-button{
    background-color: #EE1F82;

    border : none;
    border-radius: 100px;

    /* outline: none; */
    color: white;

    font-family: 'Poppins';
    font-size: 24px;
    line-height: 36px;
    font-weight: 600;

    width: 190px;
    height : 37px;

}

.custom-button:hover{
    box-shadow: 0 0 4px #EE1F82;
}

.custom-button:disabled{
    background-color: aliceblue;
}